asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
curl_cffi==0.11.3
dj-database-url==3.0.0
Django==5.1.7
django-allauth==65.7.0
django-microsoft-auth==3.0.1
frozendict==2.4.6
gunicorn==23.0.0
idna==3.10
multitasking==0.0.11
numpy==2.2.5
oauthlib==3.2.2
packaging==25.0
pandas==2.2.3
peewee==3.17.9
pillow==11.2.1
platformdirs==4.3.7
protobuf==6.31.1
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.4.0
websockets==15.0.1
whitenoise==6.9.0
yfinance==0.2.63
